body.modal-open {
    overflow: hidden;
}

body,
a {
    font-family: 'Nunito';
    font-size: 22px;
    color: black;
}

a:hover {
    color: red;
    text-decoration: underline;
}

.orange a,
.orange {
    background-color: white;
    color: black;
}

.orange .active a,
.orange .active a:hover {
    background-color: white;
    color: #e36223;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: white;
    color: #e36223;
}

a.text-primary:focus,
a.text-primary:hover {
    color: #e36223 !important;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.dropdown-menu {
    color: black;
}