<!doctype html>
<html lang="ru" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Styles-->
    <link rel="stylesheet" href="exr.bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <style>
        body.modal-open {
            overflow: hidden;
        }
    </style>

    <title>layout</title>
</head>

<body id="page-top">
    <div id="wrapper">

        <div class="container-fluid p-0">

            <!-- NavBar Header -->
            <nav class="navbar navbar-light navbar-expand bg-gray-100 shadow topbar sticky-top">
                <div class="container-fluid">
                    <div class="d-flex flex-row">
                        <button class="btn btn-link rounded-circle my-auto" id="sidebarToggle" type="button"
                            v-on:click="sidebarToggle">
                            <i class="fas fa-bars"></i>
                        </button>
                        <a class="d-flex flex-row ml-2 my-auto text-bold nav-link p-1" href="/">
                            <div class="my-auto">
                                <img width="50rem" src="https://www.exr.ru/public/images/logo-grey.png" alt="">
                            </div>
                            <div class="mx-1 my-auto text-gray-800 nowrap" style="font-weight: bold;font-size: 1rem">
                                <span>EXR app</span>
                            </div>
                        </a>
                    </div>

                    <button type="button" class="btn btn-primary small btn-rounded nowrap d-inline-block"
                        onclick="location.href='/'">
                        <i class="fas fa-sign-in-alt pr-1 p-0"></i>
                        <span class="d-none d-sm-inline-block">Войти</span>
                    </button>
                </div>
            </nav>
            <!--End NavBar Header-->

            <!--Main Content-->
            <div class="d-flex" v-scroll="scrollToTop_Scroll">
                <!--Sidebar Main Nav-->
                <nav class="navbar align-items-start sidebar sidebar-dark accordion
                bg-gradient-primary p-0 pt-2 sticky-top" id="SidebarMain"
                    style="z-index: 9999;top: 4.375rem;height: calc(100vh - 4.375rem);min-height: auto">
                    <div class="container-fluid d-flex flex-column p-0">
                        <ul class="nav navbar-nav text-light" id="accordionSidebar">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="/">
                                    <i class="far fa-user-circle"></i>
                                    <span>Авторизация</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!--End Sidebar Main Nav-->

                <div class="align-content-end pt-4" style="width:100%">
                    <!--div Main-->
                    <div id="content">
                        <!-- Ваш код должен находится здесь -->

                        <user-info></user-info>

                        <div class="d-flex flex-md-row-reverse">
                            <div class="container-fluid col-md-8 col-12">
                                <ul class="card mb-4 nav nav-pills d-md-flex flex-md-row flex-column
                                shadow animated--fade-in" id="nav-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-news-tab" data-toggle="pill"
                                            href="#pills-news" role="tab" aria-controls="pills-news"
                                            aria-selected="true">
                                            <i class="far fa-newspaper"></i>
                                            Новости
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-friends-tab" data-toggle="pill"
                                            href="#pills-friends" role="tab" aria-controls="pills-friends"
                                            aria-selected="false">
                                            <i class="far fa-address-card"></i>
                                            Друзья
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-subscribers-tab" data-toggle="pill"
                                            href="#pills-subscribers" role="tab" aria-controls="pills-subscribers"
                                            aria-selected="false">
                                            <i class="far fa-address-card"></i>
                                            Подписчики
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-about-tab" data-toggle="pill"
                                            href="#pills-about" role="tab" aria-controls="pills-about"
                                            aria-selected="false">
                                            <i class="far fa-address-card"></i>
                                            Бонусы
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-contacts-tab" data-toggle="pill"
                                            href="#pills-contacts" role="tab" aria-controls="pills-contact"
                                            aria-selected="false">
                                            <i class="far fa-address-book"></i>
                                            Подписки
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-news" role="tabpanel"
                                        aria-labelledby="pills-news-tab">
                                        <news></news>
                                    </div>

                                    <div class="tab-pane fade" id="pills-friends" role="tabpanel"
                                        aria-labelledby="pills-friends-tab">
                                        <friends-list></friends-list>
                                    </div>

                                    <div class="tab-pane fade" id="pills-subscribers" role="tabpanel"
                                        aria-labelledby="pills-subscribers-tab">
                                        <!-- -->
                                        <subscribers-list></subscribers-list>
                                    </div>

                                    <div class="tab-pane fade" id="pills-about" role="tabpanel"
                                        aria-labelledby="pills-about-tab">
                                        <bonuses-list></bonuses-list>
                                    </div>

                                    <div class="tab-pane fade" id="pills-contacts" role="tabpanel"
                                        aria-labelledby="pills-contacts-tab">
                                        <div class="card shadow">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- -->
                    </div>
                    <!--End div Main-->

                    <!--Alerts Block-->
                    <div class="container fixed-top align-content-center" style="width: 60vw; top: 10%; opacity: 75%"
                        id="alerts-container">
                    </div>
                    <!--End Alerts Block-->

                    <!--Footer-->
                    <footer class="sticky-footer shadow mx-auto">
                        <div class="container my-auto">
                            <div class="text-center my-auto copyright">
                                <span>ООО "Экспресс реклама" EXRapp</span>
                            </div>
                        </div>
                    </footer>
                    <!--End Footer-->

                    <!--Button ScrollToTop-->
                    <a class="border rounded d-inline scroll-to-top text-white d-none" v-if="showScrollToTop"
                        v-on:click="scrollToTop_Click">
                        <i class="fas fa-angle-up"></i>
                    </a>
                    <!--End Button ScrollToTop-->
                </div>
            </div>
            <!--End Main Content-->
        </div>

    </div>

    <!--Libraries-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Ваш шаблон для vue component -->
    <script type="text/x-template" id="user-info">
        <div class="container-fluid col-md-8 col-12">
            <div class="card mb-3 shadow d-flex flex-column flex-md-row">
                    <div class="card-body d-flex flex-row border-right col-9">
                        <img src="img/2.jpg" class="img-thumbnail rounded-circle z-depth-2 align-self-center mr-5 p-0"
                        style="height: 160px; width: 160px">
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row justify-content-between">
                                <h2 class="text-secondary">{{user.FullName}}</h2>
                                <p class="text-secondary"><i class="fa fa-circle"
                                :class="{'text-primary': user.OnlineStatus}"></i>  online</p>
                            </div>
                            <div class="d-flex flex-column" id="info">
                                <p class="text-secondary">Страна: {{user.Country}}</p>
                                <p class="text-secondary">Город: {{user.LiveCity}}</p>
                                <p class="text-secondary">День рождения: {{user.Birthday}}</p>
                                <div class="d-flex flex-row text-secondary">
                                    <p class="pr-1">Увлечения:</p>
                                    <div  class="list-group d-flex flex-row flex-wrap">
                                        <p v-for="hobby of user.Hobbies" class="border-0 m-0 p-0 px-1">{{hobby}}</p>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="text-primary">Показать подробную информацию</a>
                        </div>
                    </div>
                <div class="card-body d-flex flex-column">
                    <button class="btn text-secondary fa fa-ellipsis-v align-self-end"></button>

                    <div class="d-flex justify-content-center align-items-center">
                        <div class="border rounded align-self-center">
                            My QR
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="news">
        <section class="list-group px-0 mb-5">
            <div class="list-group-item d-flex p-0 mb-2
            justify-content-between card shadow" v-for="n in news">
                <div class="card-header px-5" style="background: var(--white)">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex justify-content-between">
                            <img :src="n.ImagePath" class="img-thumbnail rounded-circle z-depth-2 mr-5"
                                    style="height: 80px; width: 80px;" alt="img" data-holder-rendered="true">
                            <div class="d-flex flex-column justify-content-center">
                                <a :href="n.GroupLink" class="text-secondary my-1">
                                    {{n.GroupName}}
                                </a>
                                <small class="text-muted">{{n.DateOfPosting}}</small>
                            </div>
                        </div>
                        <button class="btn text-secondary fa fa-ellipsis-v align-self-center"></button>
                    </div>
                </div>
                <div class="card-body px-5">
                    <h2 class="card-title">{{n.PostTitle}}</h2>
                    <img class="img-fluid" :src="n.PostPreview">
                </div>
            </div>
        </section>
    </script>

    <script type="text/x-template" id="friends">
        <section class="card container my-4 px-0">
            <div class="col px-5">
                <div class="input-group my-4">
                    <input class="form-control" type="text" placeholder="Поиск" v-model="search">
                    <div class="input-group-append btn-group">
                        <button
                            class="btn btn-default btn-primary dropdown-toggle"
                            type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Параметры
                        </button>
                        <form class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <div class="form-group p-2">
                                    <label for="cities">Город</label>
                                    <select class="form-control select2"
                                        name="cities"
                                        v-model="selectedCity">
                                        <option class="option2" value="">Любой</option>
                                        <option v-for="city in cities">
                                            {{city}}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group p-2">
                                    <label>Возраст</label>
                                    <input type="text"
                                        class="form-control input-sm mb-1"
                                        name="min-age"
                                        placeholder="От" v-model="minAge">
                                    <input type="text" class="form-control input-sm"
                                        name="max-age"
                                        placeholder="До" v-model="maxAge"
                                        @change="maxAgeChecker">
                                </div>


                                <div class="form-group p-2">
                                    <label>Пол</label>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                type="radio" name="male"
                                                value="male"
                                                v-model="selectedGender">
                                            <label class="form-check-label"
                                                for="male">
                                                Мужчина
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                type="radio" name="female"
                                                value="female"
                                                v-model="selectedGender">
                                            <label class="form-check-label"
                                                for="female">
                                                Женщина
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                type="radio" name="any"
                                                value=""
                                                v-model="selectedGender" selected>
                                            <label class="form-check-label"
                                                for="any">
                                                Любой
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-sm-12">
                                    <div class="d-flex justify-content-center row">
                                        <button class="btn btn-primary"
                                            type="button" name=""
                                            @click="disableFilter">Сбросить
                                            настройки</button>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>

                <div class="row">
                    <p class="text-secondary col-12 col-md-6">Колличество друзей:</p>
                    <p class="text-secondary col-12 col-md-6">В сети:</p>
                </div>
            </div>

            <div class="list-group border-0">
                <div class="list-group-item rounded-0 border-left-0 border-right-0 d-flex
                justify-content-between px-md-5" v-for="friend of filtered">
                    <div class="d-flex justify-content-between">
                        <img :src="friend.ImagePath" class="img-thumbnail rounded-circle z-depth-2 mr-5"
                                style="height: 80px; width: 80px;" alt="img" data-holder-rendered="true">
                        <div class="d-flex flex-column justify-content-center">
                            <a :href="friend.ProfileLink" class="text-secondary my-1">
                                {{friend.FirstName}} {{friend.LastName}}
                                <i class="fa fa-circle" v-bind:class="{'text-primary': friend.OnlineStatus}"
                                style="font-size: 0.5em"></i>
                            </a>
                            <div class="flex-row">
                                <a href="#" class="text-primary m-2">
                                    <i class="fa fa-envelope-open-text text-primary"></i> Написать сообщение
                                </a>
                                <a href="#" class="text-primary m-2">
                                    <i class="fa fa-percentage text-primary"></i> Поделиться бонусами
                                </a>
                            </div>
                        </div>
                    </div>
                    <button class="btn text-primary fa fa-ellipsis-v align-self-start"></button>
                </div>
            </div>
        </section>
    </script>

    <script type="text/x-template" id="subscribers">
        <section class="card container my-4 px-0">
            <div class="col px-5">
                <div class="input-group my-4">
                    <input class="form-control" type="text" placeholder="Поиск" v-model="search">
                    <div class="input-group-append btn-group">
                        <button
                            class="btn btn-default btn-primary dropdown-toggle"
                            type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Параметры
                        </button>
                        <form class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <div class="form-group p-2">
                                    <label for="cities">Город</label>
                                    <select class="form-control select2"
                                        v-model="selectedCity">
                                        <option class="option2" value="">Любой</option>
                                        <option v-for="city in cities">
                                            {{city}}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group p-2">
                                    <label>Возраст</label>
                                    <input type="text"
                                        class="form-control input-sm mb-1"
                                        name="min-age"
                                        placeholder="От" v-model="minAge">
                                    <input type="text" class="form-control input-sm"
                                        name="max-age"
                                        placeholder="До" v-model="maxAge"
                                        @change="maxAgeChecker">
                                </div>


                                <div class="form-group p-2">
                                    <label>Пол</label>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                type="radio" name="male"
                                                value="male"
                                                v-model="selectedGender">
                                            <label class="form-check-label"
                                                for="male">
                                                Мужчина
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                type="radio" name="female"
                                                value="female"
                                                v-model="selectedGender">
                                            <label class="form-check-label"
                                                for="female">
                                                Женщина
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                type="radio" name="any"
                                                value=""
                                                v-model="selectedGender" selected>
                                            <label class="form-check-label"
                                                for="any">
                                                Любой
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-sm-12">
                                    <div class="d-flex justify-content-center row">
                                        <button class="btn btn-primary"
                                            type="button" name=""
                                            @click="disableFilter">Сбросить
                                            настройки</button>
                                    </div>
                                </div>
                            </form>
                    </div>


                </div>
                <p class="text-secondary">Колличество подписчиков:</p>
            </div>

            <div class="list-group border-0">
                <div class="list-group-item rounded-0 border-left-0 border-right-0 d-flex
                justify-content-between px-md-5" v-for="subscriber of filtered">
                    <div class="d-flex justify-content-between">
                        <img :src="subscriber.ImagePath" class="img-thumbnail rounded-circle z-depth-2 mr-5"
                                style="height: 80px; width: 80px;" alt="img" data-holder-rendered="true">
                        <div class="d-flex flex-column justify-content-center">
                            <a :href="subscriber.ProfileLink" class="text-secondary my-1">
                                {{subscriber.FirstName}} {{subscriber.LastName}}
                                <i class="fa fa-circle" v-bind:class="{'text-primary': subscriber.OnlineStatus}"
                                style="font-size: 0.5em"></i>
                            </a>
                            <a href="#" class="text-primary my-1">
                                <i class="fa fa-user-plus text-primary"></i> Добавить в друзья
                            </a>
                        </div>
                    </div>
                    <button class="btn text-primary fa fa-ellipsis-v align-self-start"></button>
                </div>
            </div>
        </section>
    </script>

    <script type="text/x-template" id="bonuses">
        <section class="card container my-4 px-0">
            <div class="col px-5">
                <div class="input-group my-4">
                    <input class="form-control" type="text" placeholder="Поиск" v-model="search">
                </div>
            </div>

            <div class="list-group border-0">
                <div class="list-group-item rounded-0 border-left-0 border-right-0 d-flex
                justify-content-between px-md-5 align-items-center" v-for="(bonus, index) of filtered">
                    <div class="d-flex justify-content-between align-items-center">
                        <img :src="bonus.ImagePath" class="img-thumbnail rounded-circle z-depth-2 mr-5"
                                style="height: 80px; width: 80px;" alt="img" data-holder-rendered="true">
                        <a :href="bonus.GroupLink" class="text-secondary my-1">
                            {{bonus.GroupName}}
                        </a>
                    </div>
                    <p class="text-primary"><i class="fa fa-badge-percent"></i> {{bonus.BonusCount}} бонус{{bonusCorrectEnd(index)}}</p>
                    <button class="btn btn-default btn-primary">Посмотреть бонусы</button>
                    <button class="btn text-primary fa fa-ellipsis-v align-self-start"></button>
                </div>
            </div>
        </section>
    </script>



    <script src="app.js"></script>
    <!--End Libraries-->

</body>

</html>
